{% extends 'base.html.twig' %}

{% block title %}Consultation index{% endblock %}

{% block body %}

    <div class="wrapper">
        {% include '_partials/asidebar.html.twig' %}
        <div class="main">
            {% include '_partials/_navbar.html.twig' %}
            <div class="container">
                {% for type, messages in app.flashes() %}
						<div class="">
							{% for message in messages %}
								<div class=" text-center alert alert-{{ type }}" role="alert">
									{{ message }}
								</div>
							{% endfor %}
						</div>
					{% endfor %}
                <h1 class="mt-2">Consultation</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Date création</th>
                <th>Motif</th>
                <th>Medecin Traitant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consultation in consultations %}
            <tr>
                {# <td>{{ consultation.id }}</td> #}
                <td>{{ consultation.createdAt ? consultation.createdAt|date('Y-m-d') }}</td>
                <td>{{ consultation.motif }}</td>
                <td>{{ consultation.traitant }}</td>
                <td>
                    <a href="{{ path('app_admin_consultation_show', {'id': consultation.id}) }}">show</a>
                    <a href="{{ path('app_admin_consultation_edit', {'id': consultation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_consultation_new') }}">Ajouter</a>
            </div>
        </div>
    </div>
{% endblock %}
