{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="container">
    <div class="row mx-auto w-75">
        <div class="form-group">
            <b style="margin-left: 40px">{{ form_label(form.date) }}</b>
            {{ form_widget(form.date, { 'attr': {'class': 'form-control', 'placeholder': 'Sélectionnez une date'} }) }}
            {{ form_errors(form.date) }}
        </div>

        <div class="form-group mt-3">
            <b style="padding-left: 20px">{{ form_label(form.motif) }}</b>
            {{ form_widget(form.motif, { 'attr': {'class': 'form-control', 'placeholder': 'Saisissez le motif'} }) }}
            {{ form_errors(form.motif) }}
        </div>

        <div class="form-group mt-3">
            <b style="padding-left: 20px">{{ form_label(form.dossier) }}</b>
            {{ form_widget(form.dossier) }}
            {{ form_errors(form.dossier) }}
        </div>


        <!-- Autres champs du formulaire -->

        <div class="row">
            <div class="col">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success mt-2">
                        <i class="fa-solid fa-check"></i>
                        Valider</button>
                </div>
            </div>
            <div class="col">
                <div class="d-grid gap-2">
                    <a class="btn btn-warning mt-2" href="{{ path('app_medecin_rdv_index') }}">
                        <i class="fa-solid fa-rotate-left"></i>
                        Retour
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



{{ form_end(form) }}

