{% extends 'base.html.twig' %}

{% block title %}Consultation index{% endblock %}

{% block body %}
    <div class="wrapper">
        {% include '_partials/asidebarmed.html.twig' %}
        <div class="main">
            {% include '_partials/_navbar.html.twig' %}
            <div class="container">
                <h1 class="mt-2">Consultation du jour</h1>
                <hr class="border border-info border-2 opacity-50">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom du Patient</th>
                            <th>Motif
                            </th>
                            {# <th>Medecin traitant</th> #}
                            <th>Actions
                        </th>
                    </tr>
                    </thead>
                        <tbody>
                            {% for consultation in consultations %}
                                <tr>
                                <td>{{ consultation.dossier.fullname }} </td>
                                <td>{{ consultation.motif }}</td>
                                {# <td>{{ consultation.traitant }}</td> #}
                                    <td><a href="{{ path('app_consultation_show', {'id': consultation.id}) }}"> show</a>
                                    <a href="{{ path('app_consultation_edit', {'id': consultation.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {# <a href="{{ path('app_consultation_new') }}">Create new</a> #}
{% endblock %}
