<div class="container">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="mb-3">
    <b>{{ form_label(form.email) }}</b>
    {{ form_widget(form.email, { 'attr': { 'class': 'form-control', 'placeholder': 'Email' } }) }}
    {{ form_errors(form.email) }}
</div>

<div class="mb-3">
    <b>{{ form_label(form.plainPassword) }}</b>
    {{ form_widget(form.plainPassword, { 'attr': { 'class': 'form-control', 'placeholder': 'Mot de passe' } }) }}
    {{ form_errors(form.plainPassword) }}
</div>

<div class="mb-3">
    <b>{{ form_label(form.firstname) }}</b>
    {{ form_widget(form.firstname, { 'attr': { 'class': 'form-control', 'placeholder': 'Prénom' } }) }}
    {{ form_errors(form.firstname) }}
</div>

<div class="mb-3">
    <b>{{ form_label(form.lastname) }}</b>
    {{ form_widget(form.lastname, { 'attr': { 'class': 'form-control', 'placeholder': 'Nom' } }) }}
    {{ form_errors(form.lastname) }}
</div>

<div class="mb-3">
    <b>{{ form_label(form.sexe) }}</b>
    {{ form_widget(form.sexe, { 'attr': { 'class': 'form-select' } }) }}
    {{ form_errors(form.sexe) }}
</div>

<div class="mb-3">
   <b>{{ form_label(form.fonction) }}</b>
    {{ form_widget(form.fonction, { 'attr': { 'class': 'form-select' } }) }}
    {{ form_errors(form.fonction) }}
</div>

<div class="mb-3">
    <b>{{ form_label(form.phone) }}</b>
    {{ form_widget(form.phone, { 'attr': { 'class': 'form-control', 'placeholder': '659160779' } }) }}
    {{ form_errors(form.phone) }}
</div>

<div class="mb-3">
    <b>{{ form_label(form.title) }}</b>
    {{ form_widget(form.title, { 'attr': { 'class': 'form-select' } }) }}
    {{ form_errors(form.title) }}
</div>

<button type="submit" class="btn btn-lg btn-success mt-2">Crée</button>

</div>

{{ form_end(form) }}
