<div class="container">
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	<div class="row mx-auto">
		<div class="col-8">
			{{ form_widget(form) }}
		</div>
        <div class="col-4 mt-4">
            <div class="col-6">
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-2">
                        <i class="fa-solid fa-check"></i>
                        {{ button_label|default('Enregistrer') }}
                    </button>
                </div>
            </div>
            <div class="col-6">
                <div class="d-grid gap-2">
                    <a class="btn btn-warning mt-2" href="{{ path('app_admin_consultation_index') }}">
                        <i class="fa-solid fa-rotate-left"></i>
                        Retour
                    </a>
            </div>
        </div>
	</div>
	{# <button class="btn">{{ button_label|default('Save') }}</button> #}
	{{ form_end(form) }}
</div>
