{% extends 'base.html.twig' %}

{% block title %}index Infirmier!{% endblock %}

{% block body %}
    <div class="wrapper">
        {% include '_partials/asidebarInf.html.twig' %}
        <div class="main">
            {% for type, messages in app.flashes() %}
						<div class="">
							{% for message in messages %}
								<div class=" text-center alert alert-{{ type }}" role="alert">
									{{ message }}
								</div>
							{% endfor %}
						</div>
				{% endfor %}
            {% include '_partials/_navbar.html.twig' %}
            <div class="container">
                <div class="row mt-3" style="margin: 30px">
                    <div class=" col card w-25 mb-2 me-2">
                        <div class="card-body">
                            <h5 class="card-title">Nouveau patient</h5>
                            <p class="card-text">Créer un Dossier</p>
                            <a href="{{ path('app_infirmier_dossier_new') }}" class="btn btn-primary">Créer</a>
                        </div>
                    </div>
                    <div class=" col card w-25 mb-2">
                        <div class="card-body">
                            <h5 class="card-title">Dossiers</h5>
                            <p class="card-text">Consulter des dossiers</p>
                            <a href="{{ path('app_infirmier_dossier_index')}}" class="btn btn-primary">Afficher</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-1" style="margin: 30px">
                    <div class=" col card w-25 mb-2 me-2">
                        <div class="card-body">
                            <h5 class="card-title">Rendez-vous</h5>
                            <p class="card-text">Consulter les Rendez-vous du jour</p>
                            <a href="{{ path('app_infirmier_rdv_index')}}" class="btn btn-primary">Afficher</a>
                        </div>
                    </div>
                    <div class=" col card w-25 mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Consultation(s)</h5>
                            <p class="card-text">Consulter la liste des patients</p>
                            <a href="{{ path('app_infirmier_consultation_index')}}" class="btn btn-primary">Afficher</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
